<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="about">About us</h1>
    <p>welcome to the blogs</p>
    <img src="https://assets.keap.com/image/upload/b_rgb:FFFFFF,c_limit,dpr_2,f_auto,h_395,q_95,w_569/v1535052909/infusionsoft.com/homepage/GettyImages-626669886.jpg" alt="Description of Image" class="about-image">
    <a href="/">Back to Home</a>
</body>
</html>
