<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 class="about">Contact us</h1>
    <p class="contact">
        kolimi sneha
        address:hyderabad
        mobile number:6235467892
        Email:kolimisneha@gmal.com
    </p>
    <a href="/">Back to Home</a>
       
</body>
</html>
